*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(/Lovelo-Black.ttf);
  }
  


  body{
    height: 100vh;
    width: 100vw;
  }
.main{
    height: 100vh;
    width: 100vw;
}

.left{
    width: 75%;
    height: 100%;
    background: #C8ECF0;
}
.right{
    width: 25%;
    height: 100%;
    background: #8C52FF;
}

.left h2,h1{
     font-family: myFirstFont; 
    
}

.left,.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h2{
    font-size: 30px;
}
.left h1{
    font-size: 55px;

}
.left p{
    font-size: 35px;

}
.left button{
    height: 40px;
    width: 160px;
    margin-top: 20px;
    background: #8C52FF;
    color: #C8ECF0;
    border: none;
    font-weight: bold;
    font-size: 15px;

}
.right{
    position: fixed;
    right: 0;
}
.right ul{
    list-style: none;
    width: 100%;
}
.right ul li{
    margin: 40px 0;
    font-size: 35px;
    font-family: myFirstFont;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.right ul a{
    text-decoration: none;
}

#about{
    background: #C8ECF0;
    background: red;
    height: 100vh;
}




/* Hover */
.right ul li:hover{
    background-color: black;

}


/* utility classes */

.fl{
    display: flex;
}
.red{
    color: #8C52FF;
}

/* Mexdia Query */

@media only screen and (max-width: 600px) {
  .main{
    display: block;
  }
.main .left{
    width: 100%;
}

.left h2{
    font-size: 20px;
}
.left h1{
    font-size: 30px;

}
.left p{
    font-size: 20px;

}
.left button{
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background: #8C52FF;
    color: #C8ECF0;
    border: none;
    font-weight: bold;
    font-size: 15px;

}
.right{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
}


  }
